.styleCardTicket {
  width: 100%;
  border-radius: 8px;

  &.dark {
    background-color: #5f6478;

    th {
      background-color: #404350;
      color: #fff;
    }

    svg, .ant-typography {
      color: #fff;
    }

    .ant-typography-secondary {
      color: #c8c8c8;
    }


    tbody {
      td {
        background-color: #5f6478;
      }

      tr {
        &:hover {
          svg, .ant-typography {
            color: rgba(0, 0, 0, 0.85);
          }
  
          .ant-typography-secondary {
            color: rgba(0, 0, 0, 0.45);
          }
        }
      }
    }
  }
}

.custom-modal {
  &.dark {
    label, svg, .ant-modal-title, .ant-typography {
      color: #fff;
    }

    .ant-typography-secondary {
      color: #c8c8c8;
    }

    .ant-modal-content, .ant-modal-header {
      background-color: #5f6478;
    }
  }
}