.app {
  text-align: center;
  height: 100%;
  background: #363740;

  h1 {
    color: #39009D;
    font-weight: 500;
    font-size: 36px;
    margin-bottom: 0;
  }

  a {
    color: #5067FF;
  }

  .box-login {
    background: #FFFFFF;
    border-radius: 20px;
    padding: 38px 12px;

    .box-form {
      margin: 40px auto 4px auto;
      max-width: 450px;
      padding: 0 12px;
    }
  }

}
